<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="templates/js/jquery.js"></script>
    <script type="text/javascript" src="templates/js/clickUp.js"></script>

    <link rel="stylesheet" href="templates/css/block.css">
    <div>
        <form method="POST" enctype="multipart/form-data" action="/vueupload">
            <table>
                <tr>
                    <td>File to upload:</td>
                    <td><input class="addFile" type="file" name="FILENAME" id="nameFile"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </form>
        <input class="clickupload" type="button" value="Uploadvue" id="clickUp"/>
    </div>

    <div class="block-1 exmpl">
        <img id="img" src=""/>
        <template>
            <message app="message"></message>
        </template>

    </div>

    <div class="block-2">

        <h2 id="namefileserver"></h2>
        <h2 id="hash"></h2>

    </div>

</head>
<body>

</body>
</html>